$color-main: #777d6e; //background
$color-add: #273e3e;
$color-buttons: #8c3738; //background-button
$color-text: #dec8b5; //background for btn, header, footer

$table-width: 768px;
$mobile-width: 360px;

$radius: 5px;
